/* Exercise PAZ Project Build web site like paz site */
/* general design */
*{
    box-sizing: border-box;
   }

   body{
    direction:rtl;
    text-align:right;
    margin: 0;
    font-family: Arial;
    overflow: scroll;
  }
/* main design */
  header{
    border: 1px solid black;     
    width: 100%;
    height: 105px;
  }

  footer{
    border: 1px solid black;     
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0;    
  }
  
  .column{
    float: right;    
    border: 1px solid black;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* end main design */

  /* design header search */
  .search{
      background-color: gray;            
      height: 72px;
  }

 
  .a-language{
    color: white;
    text-decoration: none;    
    font-size: 13px;
    font-weight: bold;
    margin-right: 600;    
  }  
 
  .a-language:hover{
    color: #00C3FF;
    text-decoration: underline;
    font-weight: bold;
  }

/* design search menu using ul
  .search-menu > ul{
    list-style: none;
    padding: 0;
    background-color: gray;
  }

  .search-menu > ul > li{
    display: inline;
  }

  .search-menu > ul > li > a{
    display: inline-block;
    color: white;
  }
*/
  /* end design header search */

  /* design header horizontal menu*/
  .top-horizontal > ul{
      list-style: none;
      padding: 0;
      /*margin: 72px 0 0 0 ; */
      margin: 0;
      background-color: gray;
      text-align: center;
      height: 33px;
  }

  .top-horizontal > ul > li {
      display: inline;      
  }

  .top-horizontal > ul > .dropdown-menu {    
    border-right: 1px solid black;
}

  .top-horizontal > ul > li > a{
    display: inline-block;
    color: white;
    text-decoration: none;  
    font-size: 15px;
    font-weight: bold;
    height: 33px;
    padding: 0 40px;  
}

.top-horizontal > ul > li > a:hover{
  color: #00D9FF;
  text-decoration: underline;
  font-weight: bold;
}

.dropdown-menu{
    position: relative;
}

.dropdown-content {
    position: absolute;
    right: 0; 
    display: none;  
    background-color:gray;  
  }
 
    .dropdown-menu:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content > a {
    display: block;
    text-decoration: none;
    text-align: right;
    color: white;    
    font-size: 15px;  
    padding-top: 5px;    
    border-bottom: 1px solid white;
  }
  
  .dropdown-content > a:hover{
    color: #145E69;
    text-decoration: underline;
    font-weight: bold;
    background: lightgray;
  }
  /* end design header horizontal menu*/
  
  /* design footer horizontal menu*/
  .bottom-horizontal > ul {
    list-style: none;
    padding: 0;   
    margin: 0;
    background-color: gray;
    text-align: center;
    }
    
    .bottom-horizontal > ul > li
    {  
      display: inline;          
    }

  .bottom-horizontal > ul > .bottom-li {    
    border-right: 2px solid white;
}

  .bottom-horizontal > ul > li > a{
    display: inline-block;    
    color: white;
    text-decoration: none;  
    font-size: 14px;    
    height: 38px;
    padding: 0 20px;  
}


#bottom-a-red{
  color: red;  
}


.bottom-horizontal > ul > li > a:hover{
  color: #00D9FF;
  text-decoration: underline;  
}
/* end design footer horizontal menu*/

/*design main */
.row1-empty-div{
  width: 160px;
  height: 365px;  
}
.row1-img{
  width: 291px;
  height: 340px;
  border-bottom-right-radius: 20px;
  margin: 15px 10px 10px 10px;
}
/* end design main */