/* Exercise PAZ Project Build web site like paz site */
/* general design */
*{
    box-sizing: border-box;
   }

   body{
    direction:rtl;
    text-align:right;
    margin: 0;
  }
/* main design */
  header{
    border: 1px solid black;     
    width: 100%;
    height: 105px;
  }

  footer{
    border: 1px solid black;     
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0;
  }

  .column{
    float: right;
    width: 20%;
    height: 335px;
    border: 1px solid black;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  